<% title "Comments" %>

<table>
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th>Content</th>
    <th>Blog</th>
    <th>Parent</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%=h comment.from %></td>
      <td><%=h comment.subject %></td>
      <td><%=h comment.content %></td>
      <td><%=h comment.blog %></td>
      <td><%=h comment.parent %></td>
      <td><%= link_to "Show", comment %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comment", new_comment_path %></p>
